* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

header .logo {
  position: relative;
  max-width: 50px;
}

header ul {
  position: relative;
  display: flex;
  padding: 25px 0;

}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5F322D;
  clip-path: circle(800px at right 800px);
}

.fa {
  padding: 90px;
  font-size: 10px;
  width: 50px;
  height: 100px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: black;
}

.social-icons {
  height: 100%;
  width: 160px;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 70px;
  padding-right: 10px;
  display: inline-table;
}
