* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;

}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  position: relative;
  max-width: 50px;
}

header ul {
  position: relative;
  display: flex;
  padding: 10px 60px;

}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.content .textBox {
position: relative;
max-width: 600px;
}

.content .textBox h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 900;
}

.content .textBox h2 span {
  color: #fff;
  font-size: 25px;
  font-weight: 900;
}

.content .textBox p {
  color: #333
}

.content .textBox a {
display: inline-block;
margin-top: 20px;
padding: 8px 20px;
background: #5F322D;
color: #fff;
border-radius: 40px;
font-weight: 500;
letter-spacing: 1px;
text-decoration: none;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5F322D;
  clip-path: circle(800px at right 800px);
}

.fa {
  padding: 90px;
  font-size: 10px;
  width: 50px;
  height: 100px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
}

.social-icons {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 70px;
  padding-right: 10px;
  display: inline-table;
}

/*MENU HEADER WEBPAGE*/
#menu-header-webpage {
  padding-left: 10px;
  padding-top: 100px;
  font-size: 60px;
  font-family: Arial;
}

/*MENU DESCRIPTION FOR WEBPAGE */
#menu-description-webpage {
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 0px;
}

/**MENU ITEMS**/
#padding1 { /*PADDING FOR BROWNIE #1*/
  padding-left: 10px;
  padding-top: 50px;
  display: inline;
}

#padding2 { /* PADDING FOR BROWNIE #2*/
  padding-left: 420px;
  padding-top: 0px;
  display: inline-block;
}

#menu-descriptions {
    font-size: 15px;
    font-weight: lighter;
    color: #5F322D;
    font-family: Arial;
    text-align: justify;
    margin: 10px;
    padding-right: 200px;
    padding-top: 400px;
    padding-left: 10px;
}

#menu-boxes {
  border-width: thin;
  background-color: #FFE4C4;
  border-style: hidden;
  border-radius: 20px;
  width: 400px;
  height: 650px;
}

#menu-images {
  width: 390px;
  height: 400px;
  border-radius: 20px;
  padding-right: -10px;
  padding-left: 10px;
  padding-bottom: 0px;
  padding-top: 10px;
}

#add-to-order {
  background-color: #5F322D;
  border-radius: 20px;
  width: 150px;
  height: 30px;
  color: white;
  font-family: 'Lora', serif;
  font-weight: 600;
}

#quantity {
  color: #5F322D;
  font-family: 'Lora', serif;
  font-weight: 600;
  padding-bottom: 500px;
}

#input {
  width: 30px;
  display: inline;
}

#menu-item-headings {
  font-family: 'Lora', serif;
  font-size: 2em;
  color: #333;
  font-weight: 100;
  text-align: center;
}
